BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always

---
Language: Cpp
PointerAlignment: Left
AlignConsecutiveMacros: true
AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: Attach
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 100